<div class="controls">
  <button mat-raised-button color="primary" (click)="openInput()">
    Import from Text
  </button>
  <button mat-raised-button color="primary" (click)="saveToFile()">
    Save to File
  </button>
</div>

<div class="table" [style]="{'grid-template-columns' : gridTemplateColumns}">
  <ng-container *ngFor="let schedule of schedule">
    <div class="game-info">{{ schedule.time }}</div>
    <ng-container *ngFor="let game of schedule.games">
      <div class="game">
        {{ game.home }}-{{ game.guest }}
      </div>
    </ng-container>
    <div class="game-summary">{{ getTotalTeams(schedule) }}</div>
  </ng-container>
  <div></div>
  <div class="game-summary" *ngFor="let schedule of schedule[0]?.games; let i = index">
    <div *ngFor="let team of getDoubleTeams(i)">
      {{ team[1] }} x {{ team[0] }}
    </div>
  </div>
</div>

<div class="stats-grid">
  <div class="pairs">
    <p>Teams die mehrfach gegeneinander spielen</p>
    <div class="pair" *ngFor="let doublePair of groupedPairs">
      <strong>{{ doublePair[1].length }}</strong> x {{ doublePair[0] }}
    </div>
  </div>

  <div class="games-count">
    <p>Anzahl Spiele</p>
    <div class="game-count">
      <span *ngFor="let game of gamesCount">
        {{ game[1] }} x {{ game[0] }}<br>
      </span>
    </div>
  </div>
</div>


